@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap%27');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 10px 0;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  background: linear-gradient(180deg, #ee5253 0%, #d92223 100%);
}

.logo {
  width: 143px;
  font-family: Roboto, sans-serif, Arial, Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin-left: 20px;
  color: #ffffff;
}

.icons {
  margin-right: 20px;
}

.in {
  bottom: 0%;
  color: #ffffff;
  font-size: 30px;
}

.inst {
  bottom: 0%;
  color: #ffffff;
  font-size: 30px;
}

.twi {
  bottom: 0%;
  color: #ffffff;
  font-size: 30px;
}