@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap%27');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../../images/hero.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  margin: 0 auto;
}

.description-hero {
  text-align: start;
  max-width: 800px;
  gap: 0.5em;
  font-family: Roboto, sans-serif, Arial, Helvetica;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  margin-top: 8rem;
  margin-left: 2rem;
  align-self: center;
}

.span-hero {
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
}

.p-hero {
  font-size: 80px;
  font-style: normal;
  font-weight: bold;
  line-height: 94px;
}

.button-hero {
  width: 300px;
  display: block;
  margin-left: 0.5rem;
  padding: 10px;
  background: linear-gradient(180deg, #ee5253 0%, #d92223 100%);
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 2rem;
}